<!DOCTYPE html> 
<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>jQuery Mobile Framework - Dialog Example</title> 
	<link rel="stylesheet"  href="../../css/themes/default/jquery.mobile-1.1.0.css" />  
	<link rel="stylesheet" href="../_assets/css/jqm-docs.css"/>

	<script src="resource/js/jquery/jquery.js"></script>
	<script src="resource/js/jquery/jquery.mobile-1.1.0.js"></script>

</head> 
<body> 

<div data-role="dialog">
	
		<div data-role="header" data-theme="d">
			<h1>알림</h1>
		</div>

		<div data-role="content" data-theme="c">
			<h3>게임을 시작 하시겠습니까?</h3>
			<a href="room_list.php" data-role="button" data-rel="back" data-theme="b">시작</a>       
			<a href="playroom.html" data-role="button" data-rel="back" data-theme="c">아니요</a>    
		</div>
	</div>
</body>
</html>