* {margin:0px; padding:0px;}
body {overflow-y: hidden;}

.clear { clear: both; }
.fl { float: left; }


#login {position:absolute; top; right:10%; display:none; border-radius:15px;}
#join {position:absolute; top; right:2%;  display:none; border-radius:15px;}


.padding {padding:1% 0% 1% 0%; margin-right:10px;}
#topbtm a {padding:5px; margin:0px 10px 15px 10px;}

.submit {font-size:10px; clear:both;}

.input_field_div {margin:5px 0px 5px 0px; width:200px; padding-right: 7px; clear:both;}
.input_field_div input {font-size: 10px; display:inline;}
.input_field_div span {font-size: 10px; }
#login input {width:180px;}
#join input {width:150px !important;}


#status table { border-collapse: collapse; }
#status table td , #status table th {border:solid 1px; padding: 3px; }


.menu { float: right; }
#footer div { width: 120px; margin: 0 auto;}

.password {margin:10px 0px;}

#makeroom {margin-right:10px;}

#content { width: 100%; padding:0px; }
#roomlist > div { border:0; margin:3px; }
#roomlist .roomlistWarp { padding:0px 9px; }
#status , #makeroom { display:none; }
#status .info { border:solid 1px black; margin:30px; padding:10px; }
#status .info p { margin:5px; }
#status .table { margin:20px; }
#status .table > th {text-align: center;}
#status .table td {text-align: center;}

#makeroom > div { margin:20px; }
#makeroom > div.width80 { width: 90%; }
#makeroom > div.ml40 { margin-left:40px; }
#makeroom > div.width80 > div { margin-top: 10px; margin-left: 00px; }
#makeroom .title div { margin: 0 auto; width: 200px; text-align: center; }

#RoomList img { width: 24px; height: 24px; }
#RoomList h3 .gametype { float:right; margin:0px; }
#RoomList .join { padding:0px; margin:0px; }

#refresh_icon .reload { padding:0px;margin:0px; }
#find_room_by_type { margin-right:3px; }
#make_icon > span { margin:0px; }
#search_rooms { margin-right:3px; padding-top:2px; }

#withdraw {}

.dspn {display:none;}